@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

$PRIMARY-COLOR: #8ECAE6;
$SECONDARY-COLOR: #219EBC;
$H-TEXT: #023047;
$ALT-COLOR: #FFB703;
$SECOND-ALT: #FB8500;




body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $H-TEXT;
}

h1 {
    font-family: 'Dancing Script', cursive;

    font-size: 6rem;
}

.hero-p {
    font-size: 2rem;
    font-weight: bold;
    color: $H-TEXT;
}

.under {
    text-decoration: underline;
    white-space: nowrap;
}








.gradient-background {
    background: linear-gradient(119deg, $SECOND-ALT, $SECONDARY-COLOR, $ALT-COLOR, $SECONDARY-COLOR);
    background-size: 240% 240%;
    animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}